* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utilities */
body {
    background-color: #fff;
    font-family: 'Fredoka', sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
}

p, h4, h5 {
    font-size: 16px;
    font-weight: 400;
}

h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

h4 {
    color: #fff;
}

h5 {
    color: #51b2d9;
}

/* Parte floating e stile cards */

.col {
    float: left;
    width: calc(100%/3 - 60px);
    margin-bottom: 40px;
}

.row {
    width: 100%;
    content: "";
    display: table;
    clear: both;
}

.contenuto img {
    float: left;
    width: 27%;
    margin-right: 15px;
}

.contenuto {
    width: 100%;
    content: "";
    display: table;
    clear: both;
    background-color: #000;
    box-shadow: 0 0 8px #686767;
}

.spazio-laterale {
    margin: 0 30px;
}

.testo {
    line-height: 22px;
    margin-top: 10px;
}
